#mainDiv
{
	width:50%;
	height:400px;

	margin: auto;
	width: 50%;
	
	padding-top: 20px;

	background: #FAFAFA;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

#menu
{
	margin-bottom: 60px;
}

#balanceDiv
{
	height:50px;
	position: relative;
}

#userDiv
{
	height:80px;
}

#transactionDiv1
{
	height:40px;
	margin-bottom: 1px;
}

#accs, #accs2
{
	margin-top:15px;
}

#transactionDiv
{
	height:150px;
	margin-bottom: 20px;
}

#accountDiv
{
	height:160px;
}

#paymentButt, #changepwbutt
{
	position: absolute;
	bottom: 0;
	right: 0;
}

#accinfoDiv, #pwchangeDiv
{
	height:120px;
}

#pwchangeDiv, #cpw, #npw
{
	margin-top:15px;
}

#changepw, #cpaymentButton
{
	margin-top:15px;
	margin-left: 130px;
}

#paymentDivHead
{
	height:80px;
}

#paymentDiv
{
	margin-top:15px;
	height:185px;
}

#recieverAcc, #amountPay
{
	margin-top:15px;
}

.innerDiv
{
	margin: auto;
	width: 50%;
	background: #f2f2f2;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);

	width:650px;
	position: relative;
}
.userFont
{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 5px;
	padding-left: 15px;
	padding-top: 15px;

	color: #666666;
}


ul {
	list-style-type: none;
	margin-top: -8px;
	padding: 0;
	overflow: hidden;
	background-color: #F77545;
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 26px;
	text-decoration: none;

	font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-weight: bold;
    font-size: 18px;
  }
  
  li a:hover:not(.active) {
	background-color: #de693e;
	color: white;
  }
  
  .active {
	background-color: #202340;
	}
	
